#musicwgj .aplayer.aplayer-narrow .aplayer-body, .aplayer.aplayer-narrow .aplayer-pic{
  width: 123px !important;
}
#musicwgj.aplayer-fixed.aplayer-narrow .aplayer-body{
  width: 123px !important;
}
/*  */
#musicwgj{
  z-index: 9999999999;
}