#veditor {
  background-image: url(https://img.zcool.cn/community/01738a5b547322a80121ade0ca8a84.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255, 255, 255, 0);
  resize: vertical
}